@font-face {
  font-family: "iconfont"; /* Project id 3988506 */
  src: url('iconfont.woff2?t=1680790228622') format('woff2'),
       url('iconfont.woff?t=1680790228622') format('woff'),
       url('iconfont.ttf?t=1680790228622') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-yingyongzhongxin:before {
  content: "\e601";
}

.icon-shijian:before {
  content: "\e8c5";
}

.icon-xiaoxi:before {
  content: "\e626";
}

.icon-chakan:before {
  content: "\e62f";
}

.icon-dianzan:before {
  content: "\e8c3";
}

.icon-shouye:before {
  content: "\e600";
}

.icon-wo2:before {
  content: "\e614";
}

.icon-pinglun:before {
  content: "\e60c";
}

.icon-caozuo_chuangxiang:before {
  content: "\e65f";
}

.icon-code:before {
  content: "\e7fc";
}

.icon-moon:before {
  content: "\e653";
}

.icon-sun-f:before {
  content: "\e660";
}

