@width: 10px;
@height: @width + 10px;

@green: #4caf50;
@red: #ff5722;

:root {
  &.default {
    // body {
    //   background-color: aquamarine;
    // }
  }
}

:root {
  &.dark {
    // body {
    //   background-color: rgba(0, 0, 0, .7);
    // }
  }
}