@width: 10px;
@height: @width + 10px;

@green: #4caf50;
@red: #ff5722;

@body-bg: var(--body-bg);

@header-bg: var(--header-bg);

@header-border: var(--header-border);

@primary-color: var(--primary-color);

@theme-logo-rotate: var(--theme-logo-rotate);

@text-color: var(--text-color);

@module-bg: var(--module-bg);

@article-text-color: var(--article-text-color);
